.timer-bar-container {
  border-radius: 2rem;
  display: flex;
  
  /* position is set to absolute */ 
  position: absolute;
  top: 45%;
  left: 40%;
  width: 20%;
  height: 10px;
  /* justify-content: center; */
  /* align-items: center; */
  /* position: relative; */
  /* background-color: blue; */
}

.timer-bar {
  border-radius: 2rem;
  display: flex;
  width: 0%;
  height: 100%;
  background-color: rgb(220, 192, 5);
  animation-name: progress;

  /*Changed*/
  animation-delay: 15s;
  animation-duration: 40s;
  animation-timing-function: linear;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.txt {
  margin-top: 15px;
  width: 20rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 20px;
  font-size: 1.5rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.display-bet-two-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left:40%;
}

.bet-add-drop {
  margin-top: 1rem;
  /* position: absolute; */
  /* left: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin-bottom: 4rem; */
  animation: bet-display 1s ease-in-out;
}
@keyframes bet-display {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
.remove {
  /* bottom: 2rem; */
  /* left: 30%; */
  border-radius: 0.5rem;
  width: 6.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
  margin: 1rem;
  background-color: black;
  color: white;
  opacity: 0.6;
  font-size: 1.3rem;
}

.rebetX2 {
  /* bottom: 2rem; */
  /* left: 30%; */
  border-radius: 0.5rem;
  width: 6.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
  margin: 1rem;
  background-color: black;
  color: white;
  opacity: 0.6;
  font-size: 1.3rem;
}