.token_container
{
    width: 100%;    
    position: relative;
    margin: auto;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .main_tokens
    {
        position: absolute;
        bottom: 0%;
        animation: token-display 1s ease-in-out;
        button{
            background: none;
            outline: none;
            border: none;
            img{
                width: 100px;
                height: 100px;
                margin: 0.8rem;
            }
            :hover{
                transform: scale(1.2);
            }
        }
    }
        @keyframes token-display {
            0% {
                transform: scale(0.1);
                opacity: 0;
            }
    
            60% {
                transform: scale(1.2);
                opacity: 1;
            }
    
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
}
@media screen and (max-width:1144px ) and (min-width:787px) {

    .token_container
    {
        .main_tokens
        {
            button{
                background: none;
                outline: none;
                border: none;
                img{
                    width: 90px;
                    height: 90px;
                    margin: 0.4rem;
                }
            }
        }
    }
}
@media screen and (max-width:786px) {
    .token_container
    {
        .main_tokens
        {
            button{
                background: none;
                outline: none;
                border: none;
                img{
                    width: 80px;
                    height: 80px;
                    margin: 0.4rem;
                }
            }
        }
    }
    
}
@media screen and (max-width:584px) {
    .token_container
    {
        .main_tokens
        {
            button{
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
    
}